*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:white;
    
}

/* Navbar css starts*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.r-nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.r-nav li{
    list-style:none;
    margin:10px;
}
.r-nav a{
    text-decoration: none;
    padding:1rem;
    display: block;
}
.toggle-button{
    position: absolute;
    top:2.3rem;
    right:1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
}
.toggle-button .bar{
    height:3px;
    width:100%;
    border-radius: 10px;
    background-color: white;
}
.brand{
    padding: 20px;
    padding-top: 9px;
}

body{
    background-color:black;
}
/* Navbar css ends*/

.intro{
 
    display: flex;
   justify-content: space-evenly;
   
}
.hero-img img{
    width: 400px;
    animation:motion 2s alternate infinite;
}
@keyframes motion{
    0%{transform: translateY(0px);}
    100%{transform: translateY(-15px);}
}

.hero-img{
    padding: 30px;
}
.content-1{
    padding-top: 90px;
    margin:20px;
    margin-top: 30px;
    width: 50%;
}
.cont{
    padding: 30px;
    margin: 30px;
    

}
.cont-2{
    display: flex;
    justify-content: center;
    
}
.cont-2-img{
    animation:rotater 80s infinite linear;
}
@keyframes rotater {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
    
}
.cont h2{
 text-align: center;
}
.cont-2{
    margin-right:40px;
    margin-left:40px;
}
.veg , .non-veg{
    transform: skewX(20deg); 
    width:300px;
    height:70px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.cheesy,.thin-crust{
    transform: skewX(-20deg); 
    width:300px;
    height:70px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.veg ,.thin-crust{
    border:3px solid #F0C929;
    padding-top:1px ;
    margin-bottom: 5px;
}
.cheesy,.non-veg{
    border: 3px solid #9D0505;
    padding-top:1px ;
}
.inner-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
/* .veg h2,.thin-crust h2{
   color:black;
  
} */

.veg h2 , .non-veg h2{
    transform: skewX(-20deg);
  
    
    
}

.thin-crust h2, .cheesy h2{
    transform: skewX(20deg);
}
.inner-cont h2{
    margin-top: 20px;
}
.pizza-bar{
    margin-top: 30px;
    padding: 30px;
}
.pizza-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-bottom: 30px;
}

.cont-4{
    width: 50%;
}
.cont-5{
    text-align: center;
}
.cont-5-img{
    width: 359px;
}
.card-img{
    width:100px;
}
.pizza-cont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.card{
    width:270px;
    height:380px;
    border: 3px solid white;
    border-radius: 20px;
}
.img-cont{
    text-align: center;
    margin-top: 50px;
}
.details .title{
    text-align: center;
    margin-top: 20px;
}
.toppings{
    width:30px;
    text-align: center;
}
.tops{
    display: flex;
    justify-content: space-evenly;
}

.close{
    margin-top: 30px;
    padding: 30px;
    text-align: center;
}
.closing-img{
    width:475px;
}
.btn{
    padding: 8px 25px;
    border-radius: 20px;
    border:1px solid white;
    background-color: black;
    cursor: pointer;
    animation:btn 1.5s alternate infinite;
    
}
.heading{
    padding: 20px;
}
.arrows{
    margin-left: 10px;
    margin-top: 5px;
    animation:arrow 1.5s alternate infinite;
}
@keyframes arrow{
    0%{color:white;}
    50%{color:#F0C929;}
    100%{color:white;}
}
@keyframes btn {
    0%{border: 1px solid white;}
    50%{border: 1px solid #F0C929;}
    100%{border: 1px solid white;}
}
.f-btn{
    margin-top: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    margin-top: 90px;
    
}
footer ul{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
}
footer ul li{
    margin:20px 0px;
}
footer h3{
    color:#F0C929;
}
.sign-off{
    text-align: center;
    color: #F0C929;
    padding: 20px;
    
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity:0;
    transition: all 1s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity:1;
}
/* Media queries */
@media (max-width: 1024px){
    .toggle-button{
        display: flex;
    }
    .r-nav{
        display: none;
        width:100%;
        padding:20px 0px;
        z-index:100;
        background-color: white;
        
       

    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar ul{
        width:100%;
        flex-direction: column;
    } 
 
    .r-nav li a{
        padding: .5rem 1rem;
        color:black;
    }
    .inner-cont{
        width:200px;
        height:200px;
    }
   .r-nav.act{
    display: flex;
    }
    

    
   
}
@media (max-width:1176px){
    .inner-cont{
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width:945px){
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right:10px;
        padding-left: 10px;
        padding-top:10px;
    }
    .hero-img{
        order:2;
    }
    .content-1{
        width: 90%;
        margin-top: 0px;
    }
    .cont-1{
        margin-bottom: 20px;
        
    }
}
@media (max-width:1228px){
    .pizza-cont{
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 50px;
        margin-top: 30px;
    }
}
@media (max-width:972px){
    .pizza-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 30px 20px;
        
    }
    .cont-4{
        width: 90%;
        
        
    }
    .pizza-bar{
        padding:10px;
    }
    .cont-5{
        margin-top:50px;
        margin-bottom: 30px;
    }
    .cont-5-img{
        padding: 30px;
    }
    .upper{
        order:2;
    }
}
@media (max-width: 869px){
    .footer{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-row-gap:20px;
    }

}
@media (max-width: 724px){
    .pizza-cont{
        grid-template-columns: repeat(1,auto);
    }
}
@media (max-width: 565px){
    .footer{
       
        grid-template-columns: repeat(1,auto);
  
    }
}
@media (max-width: 540px){
    .closing-img{
        width:375px;
    }
    
}
@media (max-width:472px){
    .hero-img img{
        width:300px;
    }
    .cont-5-img{
        width:259px;
    }
}
@media (max-width:436px){
  .closing-img{
      width:275px;
  }
}