*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:white;
    
}

/* Navbar css starts*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.r-nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.r-nav li{
    list-style:none;
    margin:10px;
}
.r-nav a{
    text-decoration: none;
    padding:1rem;
    display: block;
}
.toggle-button{
    position: absolute;
    top:2.3rem;
    right:1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
}
.toggle-button .bar{
    height:3px;
    width:100%;
    border-radius: 10px;
    background-color: black;
}
.brand{
    padding: 20px;
    padding-top: 9px;
}

body{
    background-color:black;
}
/* Navbar css ends*/

.intro{
    margin: 30px;
    display: flex;
   justify-content: space-evenly;
}

.hero-img{
    order:2;
    padding:30px;
}

.pizza{
    transform: rotate(-8deg);
    width:400px;
    height: 400px;
    animation:motion 2s alternate infinite;
}
@keyframes motion{
    0%{transform: translateY(0px);}
    100%{transform: translateY(-15px);}
}
.content-1 h1{
    color:#F0C929 !important;
}
.content-1{
    padding-top: 40px;
}
.btn{
    padding: 8px 25px;
    border-radius: 20px;
    border:1px solid white;
    background-color: black;
    cursor: pointer;
    animation:btn 1.5s alternate infinite;
    
}
.arrows{
    margin-left: 10px;
    margin-top: 5px;
    animation:arrow 1.5s alternate infinite;
}
@keyframes arrow{
    0%{color:white;}
    50%{color:#F0C929;}
    100%{color:white;}
}
@keyframes btn {
    0%{border: 1px solid white;}
    50%{border: 1px solid #F0C929;}
    100%{border: 1px solid white;}
}
.outer-1{
    background-color: black;
}
.cont-1{
    padding:20px;
    /* background-image: url("../images/269-removebg-preview.png"); */
    
}
.cont-1 h2{
    text-align: center;
}
/* .menu-items{
    display: flex;
    justify-content: space-evenly;
}
.m-img{
    width:200px;
    height: 200px;
}
.m-card h2{
    text-align: center;
    color:black;
}
.m-card{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
} */
.m-img{
    width:50px;
    height: 50px;
}
.cont-2{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px;
    margin-top: 60px;
}
.features{
    width:270px;
    height: 270px;
    border: 3px solid white;
    border-radius: 20px;
}
.features .img-cont{
    text-align: center;
    margin-top: 60px;
}
.content-2{
   
    padding: 20px;
}
.content-2 h3{
    text-align: center;
    color: #F0C929;
}
.content-2 p{
    text-align: center;
}
.outer-2,.outer-3,.outer-4,.outer-5,.outer-6{
    margin-top:30px;
    
}
.cont-3,.cont-4,.cont-5{
    display:flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-left:30px;
    padding: 30px;
}

.cont-3-content{
    padding: 30px;
    width:50%;
    
}
.cont-3-img{
    width: 408px;
    height: 408px;
}

.cont-3-content h1{
    color: #F0C929;
}
.cont-4-content,.cont-5-content{
    width:50%;
}
.cont-4-img{
    width:510px;
}


.cont-6-img-cont{
   
    padding:30px;
    margin-left:100px;
}
.outer-5{
    margin-top: 50px;
}
.cont-6{
    margin-top: 30px;
    margin-left:30px;
}
.heading{
    text-align: center;
}
.cont-6{
    display: flex;
    position: relative;
}
.c-img{
    width:70px;
    border: 3px solid #F0C929;
    border-radius: 50%;
}
.inners{
    display: flex;
    align-items: center;
    position: absolute;
}
.inners .c-img{
    margin-right:15px;
}
#c-img-1{
    top:12px;

}
#c-img-2{
    top:104px;
    left: 490px;
}
#c-img-3{
    top:204px;
    left: 485px;
}
#c-img-4{
    top:304px;
    left: 440px;
}
.cont-7{
    margin-top:60px;
    text-align: center;
}
.close-img{
    margin-top: 20px;
    width:475px;
}
.f-btn{
    margin-top: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 30px;
    margin-top: 90px;
    
}
footer ul{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
}
footer ul li{
    margin:20px 0px;
}
footer h3{
    color:#F0C929;
}
.sign-off{
    text-align: center;
    color: #F0C929;
    padding: 20px;
}